.team {
    padding: var(--mb-1) 0;
}

.team__card {
    padding: var(--mb-1) 0 ;
    border-radius: 1rem;
    background: linear-gradient(var(--first-color) 10%, #fff);
    box-shadow: 0 8px 16px -8px hsla(0, 0%, 0%, 0.4);
}

.team__card-container {
    padding: var(--mb-0-5);
    grid-template-columns: .5fr .75fr;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
}

.team__card-img {
    height: 150px;
}

.team__card-title {
    color: #fff;
    margin-bottom: var(--mb-0-5);
}

.team__card-socmed-icon {
    color: #fff;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
}

.team__card-description {
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    text-align: left;
}

/* ---Breakpoints--- */
/* For Small Devices */
@media screen and (max-width:320px) {
}
/* For Medium Devices */
@media screen and (min-width:500px) {
    .team__container {
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }
}

@media screen and (min-width:765px) {
    .team {
        padding: 10rem 0 5rem;
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
    }

    .team__card {
        transition: .5s;
    }

    .team__card:hover {
        transform: translateY(-2rem);
    }
}

/* For Large Devices */
@media screen and (min-width:992px) {
    .team__container {
        gap: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
}