/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600;700&display=swap');
:root {
    --navbar-height : 4rem;
    --color-main : #a61c3c;
    --color-second : #C20114;
    --color-third : #960200;
    --color-forth : #C42348;
    --color-first-variation : #bd8184;
    --color-second-variation : #fff6f6;
    --color-third-variation : #ead3c1;
    --color-dark : #574142;
}

/* Reuse class */
.bg-main {
    background: var(--color-main);
}

.bg-second {
    background: var(--color-second);
}

.bg-third {
    background: var(--color-third);
}

.bg-forth {
    background: var(--color-forth);
}

.bg-first-variation {
    background: var(--color-first-variation);
}

.bg-second-variation {
    background: var(--color-second-variation);
}

.bg-third-variation {
    background: var(--color-third-variation);
}

.bg-dark {
    background: var(--color-dark);
}

.text-theme-main {
    color: var(--color-dark);
}

.text-theme-second {
    color: var(--color-third-variation);
}

.text-theme-third {
    color: var(--color-second-variation);
}

.text-theme-forth {
    color: var(--color-main);
}

.top__section {
    padding-top: var(--navbar-height);
}

.text-light {
    font-weight: 300;
}

.text-normal {
    font-weight: 400;
}

.text-bold {
    font-weight: 600;
}

.text-bolder {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.section__title {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: var(--mb-2);
    line-height: 140%;
}

.section {
    padding: 5.5rem 0 1rem;
}

/* Base */
* {
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/image/seamless_stationary.jpg");
    background-repeat: repeat;
    background-size: 300px 300px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* Navbar */
.navbar {
    height: var(--navbar-height);
    transition: .4s;
}

.navbar a{
    color: var(--color-second-variation);
    text-transform: capitalize;
    transition: .4s ease-in-out;
}

.navbar a:hover{
    transform: scale(1.1);
}

.nav__locale-flag {
    width: 25px;
    vertical-align: baseline;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: 100;
    }
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

/* ---Show Menu */
.show-menu {
    right: 0;
}

/* ---Change background header--- */
.scroll-header {
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Home */
.home {
    height: 100vh;
}

.home__img{
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.home__slogan {
    width: 100vh;
}

.home__slogan-container {
    text-align: initial;
    align-self: center;
}

.home__slogan-content {
    font-size: 2rem;
    line-height: 140%;;
}

/* Program */
.program {
    min-height: 100vh;
}

/* Kegiatan */
.kegiatan {
    background-color: var(--color-main);
}

/* Berita */
.berita {
    height: 100vh;
}

/* Testimoni */
.card {
    background-color: var(--color-third-variation);
}

/* Kontak */
.kontak__container {
    background-color: var(--color-third-variation);
}

.footer__data-contact-icon {
    vertical-align: baseline;
    font-size: 2rem;
}

/* Halaman Tim */
.team__card {
    box-shadow: 0 8px 16px -8px hsla(0, 0%, 0%, 0.4);
}

/* Pagination */
.pagination {
    font-size: 1.25rem;
    background-color: var(--color-main);
}

.pagination>button {
    background-color: var(--color-main);
}

/* Breakpoint */
@media screen and (min-width:767px) {
    .home__content {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
    }

    .nav__close {
        display: none;
    }

    .team__card {
        transition: .5s;
    }

    .team__card:hover {
        transform: translateY(-2rem);
        z-index: 1;
    }
}